

.html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-color: #efefef;
}


.bot{
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 5px;
    background: #222;
    border-radius: 999px;
    padding: 5px 7px;
    cursor: pointer;
}

.container.activate{
    display: flex;
}

.container{
  position: absolute;
  max-width: 600px;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow: auto;
  border-radius: 10px;
  /* display: none; */
}


.chats-area{
    flex: 1;
    overflow-y: auto;
}

.chats-area .message{
    padding: 10px 17px;
    max-width: 70%;
    width: fit-content;
    border-radius: 20px;
    margin: 10px 17px;
    /* direction: rtl; */
}
.newChatBtn{
    margin: 18px 50px 0 50px;
    padding: 5px 9px;
}


.chats-area .systemMsg{
    margin-right: auto;
    background-color: lightskyblue;
}

.chats-area .user-message{
    margin-left: auto;
    background-color: orangered;
}
.message.rightSide{
    direction: rtl;
}

.chat-input-panel{
    display: flex;
    align-items: center;
    width: 95%;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
        height: 100px;
    overflow: hidden;
}

.chat-input-panel input{
    width: 100%;
    outline: none;
    border: none;
    background-color: none;
    padding: 10px;
    height: 100%;
}

.chat-input-panel .file-upload-buttons{
    display: flex;
   align-items: center;
   justify-content: end;
   gap: 3px;

}


.chat-input-panel button{
       outline: none;
    /* background: purple; */
    border: 1px solid purple;
    /* color: #fff; */
    padding: 10px 17px;
    padding: 5px 7px;
    border-radius: 30px;
}

.chat-input-panel button:hover{
    background-color: purple;
}

#preview{
    max-width: 50px;
    width: 100%;
    border-radius: 5px;
}
#preview img{
     width: 70px;
    border-radius: 10px;
}

.chat-input-panel button:hover svg{
    fill: #efefef !important;
}
.chat-input-panel button svg{
    width: 20px;
    height: 20px;
}

.file-upload-buttons .submit-question-btn{
    display: none;
}

.submit-question-btn.show{
    display: inline-block;
}

