

.html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


body{
  background-color: #efefef;
}


.bot{
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 5px;
    background: #222;
    border-radius: 999px;
    padding: 5px 7px;
    cursor: pointer;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #efefef;
}

.innerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: #72729f;
    /* padding: 0 3px; */
}

.innerNav .left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.innerNav .left .logo{
    font-size: 30px;
    max-width: 50px;
}

.innerNav .left .logo img{
    width: 100%;
}

.innerNav .left button{
    align-self: center;
}

.languageSelect{
  
}

.languageSelect select{
    border: 2px solid #000;
    border-radius: 3px;
}

.innerNav button{
    border: 2px solid #000;
    border-radius: 3px;
}
.container.activate{
    display: flex;
}

.container{
  position: absolute;
  max-width: 600px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow: auto;
  border-radius: 10px;
  margin-top: 30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 1px solid #000;
}


.chats-area{
    flex: 1;
    overflow-y: auto;
}

.chats-area .message{
    padding: 10px 17px;
    max-width: 70%;
    width: fit-content;
    border-radius: 20px;
    margin: 10px 17px;
    /* direction: rtl; */
}

.message.static_msg{
    margin: 10px auto;
    width: 100%;
    color: #222;
    text-transform: capitalize;
    text-align: center;
}

.newChatBtn{
    margin: 18px 50px 0 50px;
    padding: 5px 9px;
}

.message small button{
    padding: 0;
    border: 2px solid #333;
    border-radius: 4px;
    align-self: center;
    text-align: center;
    background: #444;
    font-size: 13px;
}


.chats-area .systemMsg{
    margin-right: auto;
    
}

.chats-area .systemMsg p{
    margin-right: auto;
    background: purple;
}

.chats-area .message .message-text{
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    
}
.chats-area .user-message{
    margin-left: auto;
}

.message p{
    padding: 5px;
    border-radius: 5px;
    /* text-align: center; */
    margin: 0;
    color: #fff;
}


.chats-area .user-message p{
    background: #444;
    
}



.message.rightSide{
    direction: rtl;
}

.message img{
    max-width: 200px !important;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}   

.chat-input-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
}

.chat-input-panel input{
    width: 100%;
    outline: none;
    border: none;
    background-color: none;
    padding: 10px;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
}

.chat-input-panel .input-lower-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.chat-input-panel .file-upload-buttons{
    display: flex;
   align-items: center;
   justify-content: end;
   gap: 3px;

}


.chat-input-panel button{
    outline: none;
    border: 1px solid purple;
    padding: 10px 17px;
    padding: 5px 7px;
    border-radius: 30px;
}

.chat-input-panel button:hover{
    background-color: purple;
}

#preview{
    max-width: 50px;
    width: 100%;
    border-radius: 5px;
}
#preview img{
     width: 70px;
    border-radius: 10px;
}

.chat-input-panel button:hover svg{
    fill: #efefef !important;
}
.chat-input-panel button svg{
    width: 20px;
    height: 20px;
}

.file-upload-buttons .submit-question-btn{
    display: none;
}

.file-upload-buttons .submit-question-btn.disabled{
    background: gray;
    cursor: not-allowed;
}

.submit-question-btn.show{
    display: inline-block;
}




@media (max-width: 728px) {

    .chat-input-panel {
        height: auto; 
    }
}