

.html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-color: #efefef;
}


.bot{
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 5px;
    background: brown;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 14px;
    color: #fff;
    cursor: pointer;
}

.container.activate{
    display: flex;
}

.container{
  position: absolute;
  max-width: 600px;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow: auto;
  border-radius: 10px;
  display: none;
}


.chats-area{
    flex: 1;
    overflow-y: auto;
}

.chats-area .message{
    padding: 10px 17px;
    max-width: 70%;
    width: fit-content;
    border-radius: 20px;
    margin: 10px 17px;
}

.chats-area .systemMsg{
    margin-right: auto;
    background-color: lightskyblue;
}

.chats-area .user-message{
    margin-left: auto;
    background-color: orangered;
}

.chat-input-panel{
    display: flex;
    align-items: center;
    width: 95%;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
}

.chat-input-panel input{
    width: 100%;
    outline: none;
    border: none;
    background-color: none;
}

.chat-input-panel button{
    outline: none;
    background: purple;
    border: 1px solid purple;
    color: #fff;
    padding: 10px 17px;
    border-radius: 14px;
}

